// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.dash-right {
  padding: 0;
  // background-color: Crimson;
  height: 100%;
}
// .dash-container {
//   height: 100%;
//   width: 100%;
// }

 // navbar left

.left-nav-icon {
   margin-top: 30%;
   width: 40px;
   height: 40px;
 }
.nav-left {
  background-color: #222222;
  height: 100%;
  position: fixed;
}
.left-nav-div {
  padding: 10px;
}
.nav-right {
  // background-color: aqua;
}
.navbar-brand {
  font-size: 2em;
}
.workout-feed {
  // background-color: orange;
  margin-top: 4%;
  padding-top: 2%;
  margin-left: 8.3%;
}
.workout-feed-scroll {
  padding: 3%;
  height: 700px;
}
.dash-header {
  margin-bottom: 5%;
}
.workout-div {
  border: solid black 2px;
  border-radius: 6px;
  background-color: white;
  padding: 1%;
  margin-bottom: 1%;
}
.workout-prof-pic {
  width: 30px;
  height: 30px;
}
.workout-default-img-div {
  padding: 1%;
}
.workout-div-bott-text {
  font-size: 1.1em;
}
.navbar-inverse .navbar-brand {
    color: #EBF5EE;
}
.navbar-inverse .navbar-nav > li > a {
    color: #EBF5EE;
}
.navbar {
  border-radius: 0;
  margin-right: 0;
  margin-left: 0;
}
.user-div {
  // margin-top: 75%;
  padding: 10px;
}
.user-div-pic {
  width: 40px;
  height: 40px;
}
.custom-queries {
  // background-color: aqua;
  margin-top: 4%;
}
.workout-link {
  font-size: 1.2em;
  background-color: white;
  color: blue;
}
